<!DOCTYPE html>

{% load staticfiles %}
<!--使用{% load static %}标签来使用静态媒体.所以我们才可以用  {% static "**.jpg" %}  在模板里调用static文件-->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>自由引导人民</h1>

        {% if categories %}
        	<ul>
        		{%  for category in categories %}
        		<li>{{  category.name }}</li>
        		{%  endfor %}
        	</ul>
        {%  else %}
        	<strong> 无法显示，出错了</strong>
        {% endif %}

         <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/about/">About</a><br />
        <img src="{% static "images/vivalavida.jpg" %}" alt="Viva La Vida" width="400" height="316">
    </body>

</html>